In [0]:
import pandas as pd

Importing data

In [0]:
path="/content/drive/My Drive/database_folder/iitdelhi/process_data/tripura/tripura_merge_updated_Clean_(25326).csv"

In [0]:
# path="/content/drive/My Drive/database_folder/iitdelhi/jharkhand_merge_updated_Clean_(16010).csv"
f=pd.read_csv(path,encoding='mac_roman')

In [0]:
print(f['text'][2])

chief minister speaking event organised mark birth anniversary kishore manikya bahadur monday evening

In [0]:
comment=f['text']

In [0]:
try1=comment

In [0]:
try1=try1.to_frame()

Adding a column for score in data frame

In [0]:
try1['score']='0'
# type(try1)

In [0]:
try1

                                                    text score
0      great news patients agartala uttam kumar saha ...     0
1      sell items valid card steps protect people usi...     0
2      chief minister speaking event organised mark b...     0
3      village industries board tkvib will provide lo...     0
4                        hard water stain remover amazon     0
...                                                  ...   ...
17361  watchtower sajjan garh palace monsoon palace k...     0
17362                       way ultimate gala brine dine     0
17363              visit summer tourist places rajasthan     0
17364  lovely short visit beautiful richard trish sha...     0
17365  romantic city known white city india candid ra...     0

[17366 rows x 2 columns]

In [0]:
type(try1)

pandas.core.frame.DataFrame

In [0]:
try1.to_csv('try1.csv')

In [0]:
cmt=f['username']

In [0]:
try1['username']=cmt

In [0]:
try1=try1[['username','text','score']]

In [0]:
try1

              username                                               text score
0      SouthDiagnostic  great news patients agartala uttam kumar saha ...     0
1      TamojyotiBhowm2  sell items valid card steps protect people usi...     0
2           Tripura_BN  chief minister speaking event organised mark b...     0
3           Tripura_BN  village industries board tkvib will provide lo...     0
4         vanprobindia                    hard water stain remover amazon     0
...                ...                                                ...   ...
17361    KalasvaMayank  watchtower sajjan garh palace monsoon palace k...     0
17362  baromasiudaipur                       way ultimate gala brine dine     0
17363   traveler_whole              visit summer tourist places rajasthan     0
17364         MahoutUK  lovely short visit beautiful richard trish sha...     0
17365  JourneysEndless  romantic city known white city india candid ra...     0

[17366 rows x 3 columns]

In [0]:
try1.to_csv('name_comt.csv')

Adding dictionary of positive and negative words

In [0]:
npath="/content/drive/My Drive/database_folder/iitdelhi/negative-word.csv"
ppath="/content/drive/My Drive/database_folder/iitdelhi/positive-word.csv"

In [0]:
pword=pd.read_csv(ppath)
nword=pd.read_csv(npath)

In [0]:
pword[0:5]

           a+
0      abound
1     abounds
2   abundance
3    abundant
4  accessable

In [0]:
nword[0:5]

      2-faced
0     2-faces
1    abnormal
2     abolish
3  abominable
4  abominably

In [0]:
cmt=try1
cmt

In [0]:
pword=pword['a+']

In [0]:
pos={}
for i in range(len(pword)):
  pos[pword[i]]=1
  # pword[i]

In [0]:
print(len(pos))

2005

In [0]:
nword=nword['2-faced']

In [0]:
neg={}
for i in nword:
  neg[i]=-1

In [0]:
len(neg)

4782

calculating score for each sentence 
adding point one for positive word and subtracting one for negative word else zero

In [0]:
for i in range(len(cmt)):
  tweet=cmt['text'][i]
  tweet=str(tweet)
  mrk=0
  for j in tweet.split():
    if j in pos:
      mrk=mrk+1
    else :
      if j in neg:
        mrk=mrk-1
  cmt['score'][i]=mrk

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [0]:
cmt.head()

          username                                               text score
0  SouthDiagnostic  great news patients agartala uttam kumar saha ...     2
1  TamojyotiBhowm2  sell items valid card steps protect people usi...     0
2       Tripura_BN  chief minister speaking event organised mark b...     0
3       Tripura_BN  village industries board tkvib will provide lo...     0
4     vanprobindia                    hard water stain remover amazon    -2

In [0]:
cal_score=cmt

In [0]:
cal_score

              username                                               text score
0      SouthDiagnostic  great news patients agartala uttam kumar saha ...     2
1      TamojyotiBhowm2  sell items valid card steps protect people usi...     0
2           Tripura_BN  chief minister speaking event organised mark b...     0
3           Tripura_BN  village industries board tkvib will provide lo...     0
4         vanprobindia                    hard water stain remover amazon    -2
...                ...                                                ...   ...
17361    KalasvaMayank  watchtower sajjan garh palace monsoon palace k...     1
17362  baromasiudaipur                       way ultimate gala brine dine     0
17363   traveler_whole              visit summer tourist places rajasthan     0
17364         MahoutUK  lovely short visit beautiful richard trish sha...     2
17365  JourneysEndless  romantic city known white city india candid ra...     2

[17366 rows x 3 columns]

In [0]:
final=cal_score
final

              username                                               text score
0      SouthDiagnostic  great news patients agartala uttam kumar saha ...     2
1      TamojyotiBhowm2  sell items valid card steps protect people usi...     0
2           Tripura_BN  chief minister speaking event organised mark b...     0
3           Tripura_BN  village industries board tkvib will provide lo...     0
4         vanprobindia                    hard water stain remover amazon    -2
...                ...                                                ...   ...
17361    KalasvaMayank  watchtower sajjan garh palace monsoon palace k...     1
17362  baromasiudaipur                       way ultimate gala brine dine     0
17363   traveler_whole              visit summer tourist places rajasthan     0
17364         MahoutUK  lovely short visit beautiful richard trish sha...     2
17365  JourneysEndless  romantic city known white city india candid ra...     2

[17366 rows x 3 columns]

In [0]:
final['label']='Neu'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
final

              username  ... label
0      SouthDiagnostic  ...   Neu
1      TamojyotiBhowm2  ...   Neu
2           Tripura_BN  ...   Neu
3           Tripura_BN  ...   Neu
4         vanprobindia  ...   Neu
...                ...  ...   ...
17361    KalasvaMayank  ...   Neu
17362  baromasiudaipur  ...   Neu
17363   traveler_whole  ...   Neu
17364         MahoutUK  ...   Neu
17365  JourneysEndless  ...   Neu

[17366 rows x 4 columns]

labelling for positive and negative tweet on basis of score

In [0]:
for i in range(len(final)):
  if final['score'][i]>0:
    final['label'][i]='Pos'
  else :
    if final['score'][i]<0:
      final['label'][i]='Neg'

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [0]:
final

              username  ... label
0      SouthDiagnostic  ...   Pos
1      TamojyotiBhowm2  ...   Neu
2           Tripura_BN  ...   Neu
3           Tripura_BN  ...   Neu
4         vanprobindia  ...   Neg
...                ...  ...   ...
17361    KalasvaMayank  ...   Pos
17362  baromasiudaipur  ...   Neu
17363   traveler_whole  ...   Neu
17364         MahoutUK  ...   Pos
17365  JourneysEndless  ...   Pos

[17366 rows x 4 columns]

saving the labelled data

In [0]:
final.to_csv('label_tripura.csv')